@width1:1600px;
@width2:800px;
@width3:0px;
@back: linear-gradient(to right, #448cff , white); 
//this is the less file for all pages, have 3 different screen size 
@media screen and (min-width: @width1)  {

h1{
	text-align: center;
	font-size: 55px;
	font-family: "Arial", Times, serif;
	font-weight: bold;
	background: @back;  
	margin-bottom:0;
	margin-top:0;
}
div{
	margin-top:50px;
	float: left;
	
}
nav{
	text-align: center;
	margin-top:0;
	background: @back; 

}

body{
	padding-top:0;
	margin:0;
	padding:0;
}
html{
	background-image:url("../pic/bg.jpg");
	
}
 a{
	text-decoration: none;
	margin-left:20px;
	margin-right:20px;
}
a:hover {
	color: black;
}
a:visited {
	color:blue;
}
.doc{
	float:right;
	width: 50%;
	background-color:#93b7f2;
	opacity: 0.5;
	color:black;
	height:600px;
	text-align: center;

	
}

.input{
	margin-top:50px;
	margin-right:55%;
	margin-bottom:0;
	margin-left:45%;
	
}
.home{
	font-size:50px;
	vertical-align: middle;
	line-height: 600px; 
		text-align: center;
}

.hotel{
	float:right;
	width: 50%;
	background-color:#93b7f2;
	opacity: 0.5;
	color:black;
	height:350px;
	padding-top:250px;
	font-size:20px;
		text-align: center;

	
}
.wind{
		font-size:30px;
	vertical-align: middle;
	line-height: 600px; 
		text-align: center;

	
}
footer{
	position:fixed;
	float:right;
	right:1%;
	bottom:5%;
	color:white;
	
}
}

@media screen and (min-width: @width2)  and  (max-width: @width1){
	
h1{
	text-align: center;
	font-size: 55px;
	font-family: "Arial", Times, serif;
	font-weight: bold;
	background: @back; 
	margin-bottom:0;
	margin-top:0;
}
div{
	margin-top:50px;
	float: left;
	
}
nav{
	text-align: center;
	margin-top:0;
	background: @back;

}

body{
	padding-top:0;
	margin:0;
	padding:0;
}
html{
	background-image:url("../pic/bg.jpg");
	
}
 a{
	text-decoration: none;
	margin-left:20px;
	margin-right:20px;
}
a:hover {
	color: black;
}
a:visited {
	color:blue;
}
.doc{
	float:left;
	width: 800px;
	background-color:#93b7f2;
	opacity: 0.5;
	color:black;
	height:40%;
	text-align: center;

	
}

.input{
	margin-top:50px;
	margin-right:55%;
	margin-bottom:0;
	margin-left:45%;
	
}
.home{
	font-size:50px;
	vertical-align: middle;
	
		text-align: center;
}

.hotel{
	float:left;
	width: 800px;
	background-color:#93b7f2;
	opacity: 0.5;
	color:black;
		height:40%;
	
	font-size:20px;
		text-align: center;

	
}
.wind{
		font-size:30px;
	vertical-align: middle;
	
		text-align: center;

	
}
footer{
	position:absolute;
	float:right;
	right: 0;
    bottom: 0;
	color:white;
	
}
}
@media screen and (min-width: @width3)  and  (max-width: @width2){
	
h1{
	text-align: center;
	font-size: 55px;
	font-family: "Arial", Times, serif;
	font-weight: bold;
	background: @back; 
	margin-bottom:0;
	margin-top:0;
}
div{
	margin-top:50px;
	float: left;
	
}
nav{
	text-align: center;
	margin-top:0;
	background: @back;

}

body{
	padding-top:0;
	margin:0;
	padding:0;
}
html{
	background-image:url("../pic/bg.jpg");
	
}
img{
	width:100%;
	height:50%;
	
}
 a{

	
}
a:hover {
	color: black;
}
a:visited {
	color:blue;
}
.doc{
	float:left;
	width:100%;
	height:50%;
	background-color:#93b7f2;
	opacity: 0.5;
	color:black;

	text-align: center;

	
}

.input{
	margin-top:50px;
	margin-right:55%;
	margin-bottom:0;
	margin-left:45%;
	
}
.home{
	font-size:50px;
	vertical-align: middle;

		text-align: center;
}

.hotel{
	float:left;
	width:100%;
	height:50%;
	background-color:#93b7f2;
	opacity: 0.5;
	color:black;

	
	font-size:20px;
		text-align: center;

	
}
.wind{
		font-size:30px;
	vertical-align: middle;



		text-align: center;

	
}
footer{
	position:relative;
	float:right;
	right:1%;
	bottom:5%;
	color:white;
	
}
}